<h1>Carrito de Compras</h1>

{{#if cart.products.length}}

  <ul>
    {{#each cart.products}}
      <li>{{this.product.title}}
        - Cantidad:
        {{this.quantity}}
        - Precio: $
        {{this.product.price}}</li>
    {{/each}}
  </ul>
  <p>Total: ${{cart.total}}</p>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}