<h3>Bienvenido {{first_name}}, email : {{email}}</h3>
<button onclick="location.href='api/users/logout'">Logout</button>
{{#each products}}

  <h1>{{title}}</h1>
  <h2>Precio ${{price}}</h2>
  <h2>Stock {{stock}}</h2>

{{/each}}