<h1>Welcome, {{first_name}}!</h1>
<div id="cart-id" data-cart-id="{{cartId}}"></div>
{{#each products}}
  <div class="product">
    <h1>{{title}}</h1>
    <h2>Precio ${{price}}</h2>
    <h2>Stock <span id="stock-{{_id}}">{{stock}}</span></h2>

    <!-- Boton para agregar el carrito -->
    <button
      class="add-to-cart-btn"
      data-cart-id="{{_cartId}}"
      data-product-id="{{_id}}"
    >Agregar al Carrito</button>
  </div>
{{/each}}

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/addToCart.js"></script>